#especial{
	height: 90px;
	margin-left: 39px;
	
}

.lateral div{
	list-style: none;
	display: flex;
	justify-content: space-between;
	
	
}


.lateral li{
	list-style: none;
	
}

.lateral img{
	height: 20px;
	
	
}


.bloco{
	display: flex;
	margin-top: 50px;
	
	
	
}

.caixa {
	margin-top:  110px;
	margin-left: 100px;
	background-color: blue;
	
	