html , body{
	
	padding: 0px;
	margin: 0px;
	
	
}

body{
	
	background-color: 	#708090;	
	
	
}

a {
	text-decoration:none;
	background-color:#3E16A1;
	color:#A19506;
	
	
	
}

a:hover {
	
	background-color: white;
	color: black;
	
	
	
}



.cabeça {
	
	position:fixed;
	top:0%;
	width: 100%;
	display:flex;
	justify-content: space-between;
	background-color: #4169E1;
	box-shadow: 1px 2px 4px #3c3931;
	
}
.cabeça li{
	list-style: none;
	display: inline;
	padding-right: 5px;
	position: relative;
	
	
	
	
}

.cabeça img{

	height:55px;
	
}

.lado ul{
	
		
		padding-left: 5px;
		padding-right: 5px;
		background-color: #8657FF;
	
}

.lado li{
	list-style: none;
	padding-top: 5px;
	
}

.lado{
	
	padding-top: 50px;
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
}

.fotopa{

	border-radius: 10px 0px 5px 5px;
	box-shadow: 2px 5px 3px #3c3931;
	
	
}


.fotopa div{
	
	
	display: flex;
	justify-content: space-between;
	height: 20px;
	
}

.flutuar{
	
	position: fixed;
	
	
}



#principal{
	height: 110px;
	width: 110px;
	
}


#fotope{
	
	
	height: 45px;
	width: 49px;
	
}


@media (max-width:980px){/* lembra de configurar a versão mobile */
	
	.cabeça img{

		height:160px;

		
	}
	
	
	.lado{
		
		
		padding-right: 50px;
		display: inline;
		
		
	}
	
	.amigos img{

		padding-left:10px;
		width:110px !important;
		height:110px !important;

		
	}
	
	.amigos a{

		padding-left:10px;
		font-size:50px !important;
		
	}
	
	.cabemobi{

		font-size:50px;
		
	}
	
	
	
	
	.fotopa{

		height:610px;
		
	}
	
	.fotopa img {
		
		width: 100px !important;
		height: 100px;
		
	}
	
	.fotopa a{

		font-size:60px;
		height:100px;
		width:190px;
		
	}

	.flutuar{
		
		position: inherit;
		
		
	}
	
	
	li{
		font-size: 40px;
		margin-top: 100px;
		color: white;
	
	}
	
	a{
		
		color: white;
		
		
		
	}
	
	#config{
		
		width: 100px;
		height: 50px;
		
		
		
	}
	
	
	
	#fotomenor{
		
		width: 50px;
		
		
	}
	
	#especial {
		margin-left:200px;
		margin-top:130px;
		width: 500px !important;
		height: 500px !important;
		
		
	}
	
	#principal{
		width: 300px;
		height: 300px;
		margin-left: 290px;
		
	}
	
	#cabecuda li{

		
		font-size: 55px;

		
	}
	
	#fotoi img{

		margin-top:50px;
		width:70px;
		height:70px !important;
		
	}
	
	#config{

		font-size:50px;
		height:70px;
		width:300px;

		
	}
	
	
}