

section{
	display: flex;
	
}

.meucmm{
	
	margin-top: 100px;	
	
	
}

.texto{
	height: 200px;
	width: 400px;

	
}

.cmm input{
	display: flex;
	flex-direction: column;
	
	
}

@media (max-width: 980px){
	
	h1, input,label{
		
		font-size: 100px;
		
		
	}
	
	textarea{
		
		width: 1000px;
		height: 1000px;
		font-size: 100px;
		
	}
	
	
	
}