.corpo{
	border-style: default;
	
	
}

.coluna{
	
	background-color:white;
	
	
	
	
}



.grupo{
	border:solid;
	display:flex;
	margin-left: 250px;
	margin-top: 200px;
	width: 500px;
	background-color: red;
	
}

.grupo ul{
	list-style: none;
	margin-left:0px;
	padding-left: 0px;
	
	
}

#foto{
	height: 50px;
	
	
}