.corpo{
	border-style: default;
	
	
}

.coluna{
	
	background-color:white;
	border-radius: 0px 0px 5px 5px;
	box-shadow: 1px 0px 3px;
	
	
}



.grupo{
	display:flex;
	margin-left: 250px;
	margin-top: 200px;
	width: 500px;
	background-color: red;
	border-radius: 5px;
	box-shadow: 5px 5px 5px #3c3931;
	
}

.grupo ul{
	list-style: none;
	margin-left:0px;
	padding-left: 0px;
	background-color:#e21313;
	
	
}

#foto{
	height: 50px;
	
	
}