.foto img{
	height: 30px;
	
	
}

.foto{
	display: flex;
	flex-direction: column;
	width: 40px;
	
	
}

.for input{
	display: flex;
	flex-direction: column;
	
}

@media (max-width:980px){

	.foto{


		margin-left:50px;
		font-size:90px;

		
	}

	.foto a{

		width:300px;



		
	}

	
	.foto img{

		width:200px;
		height:200px;
		
	}

	
