strong{

	color:white;

	
}

.apresenta{
	display: flex;
	list-style: none;
	justify-content: space-between;
	
	
}

.apresenta li{
	margin-left: 50px;
	
}

.apresenta div{

	background-color:red;

	
}

#pop div{

	width:300px;



	
}

@media (max-width:980px){


	.apresenta{

		display:flex;
		flex-direction:column;
		
	}


	#pixa{

		width:300px;
		font-size:60px;
		
	}
	
	#pop div{

		margin-left:70px !important;
		margin-top:500px !important;
		font-size:70px;
		width:700px;

		
	}


	
