#especial{
	height: 90px;
	margin-left: 39px;
	
}

.linha{
	
	background-color: #F09667;
	border-radius: 5px;
	
	
}

.lateral div{
	list-style: none;
	display: flex;
	justify-content: space-between;
	
	
}


.lateral li{
	list-style: none;
	
}

.lateral img{
	height: 20px;
	
	
}


.bloco{
	display: flex;
	margin-top: 50px;
	
	
	
}

.caixa {
	margin-top:  20px;
	margin-left: 100px;
	background-color: #DA7F69;
	border-radius: 5px 20px 5px 5px;
	box-shadow: 5px 2px 5px #3c3931;
	
}

.caixa h1{
	
	background-color: #59342B;
	height: 130px;
	color: #A2DEB9;
	font-family:monospace;
	
	
}



.bloco ul{
	
	background-color: #35798C;
	
	
	
	
}


@media (max-width: 980px){
	
	.caixa{
		
		font-size: 39px;
		margin-left: 0px;
		
		
	}
	
	.bloco{

		flex-direction:column;
		
		
	}
	
	.resjs textarea{

		width:1000px;
		height:170px;
		
	}
	
	.resjs input{

		width:1000px;
		height:90px;
		font-size:60px;
	}
	
	
	.aperta{
		
		font-size: 20px;
		width: 90px;
		height: 90px;
		
		
	}
	
	.lateral img{
		
		width: 60px;
		height: 60px;
		
	}
	
	.lateral li{

		font-size:70px !important;


		
	}
	
	.aperta{


		width:940px;
		font-size:60px;

		
	}
	
	.recado {

		width: 1000px !important;
		font-size:60px;
		
	}
	
	
	
	#recado{
		
		width: 500px;
		height: 500px;
		font-size: 150px;
		
		
	}
	#recadobutao{
		width: 100px;
		height: 50px;
			
		
	}
	
	#especial{

		margin-left:190px;

		
	}
	
}