.user{
	display: flex;
	margin-left: 120px;
	
	
}

#especial {
	height: 90px;
	width: 110px;
	
	
}
.caixa {
	
	margin-left: 10px;
	box-shadow: 5px 0px 5px #2b2626;
	border-width: 6px;
	border-radius: 0px 30px 5px 5px;
	background-color: #FFD463;
}

.caixa p{
	
	background-color:#806932;
	
	
}

#fotoi img{
	height: 20px;
	
	
	
}

.amigos{
	margin-top: 133px;
	display: flex;
	background-color:#806932;
	
	
}

#fotomenor{
	height: 30px;
	
	
}

.perfilu{
	display:flex;
	flex-direction: column;
	margin-left: 20px;
	
}


@media (max-width: 980px){
	
	.user{
		
		flex-direction: column;
		margin-left:0px;
		
	}
	
	.caixa{
		
		font-size: 50px;
		
		
	}
	
	.fotomobi input{

		font-size:60px;
		margin-top:50px;

		
	}
	
	.formmobi textarea{

		width:1000px;
		height:200px;
	
		
	}

	.formmobi input{

		font-size: 100px;
		width: 400px;

		
	}
	
	.inputmobi input{

		font-size:40px;
		width:600px;
		height:60px;
		margin-top: 30px;
		
	}

	.inputmobi select{

		margin-top:30px;
		font-size:50px;

		
	}
	
	.amigos a{
		
		font-size:10px;
		
	}
	
	#pop{
		
		font-size: 50px;
		
		
		
	}
	
	#amigomobi img{

		width:100px !important;
		height:100px !important;
	}

	#amigomobi a{

		font-size: 50px;
	}
}