#especial{
	height: 90px;
	margin-left: 39px;
	
}

.linha{
	
	background-color: #F09667;
	border-radius: 5px;
	
	
}

.lateral div{
	list-style: none;
	display: flex;
	justify-content: space-between;
	
	
}


.lateral li{
	list-style: none;
	
}

.lateral img{
	height: 20px;
	
	
}


.bloco{
	display: flex;
	margin-top: 50px;
	
	
	
}

.caixa {
	margin-top:  20px;
	margin-left: 100px;
	background-color: #DA7F69;
	border-radius: 5px;
	border-style:groove;
	border-color: darkred;
	
}

.caixa h1{
	
	background-color: #59342B;
	height: 130px;
	color: #A2DEB9;
	font-family:monospace;
	
	
}



.bloco ul{
	
	background-color: #35798C;
	
	
	
	
}


@media (max-width: 980px){
	
	.caixa{
		
		font-size: 39px;
		
		
		
	}
	
	
	.aperta{
		
		font-size: 20px;
		width: 90px;
		height: 90px;
		
		
	}
	
	.lateral img{
		
		width: 60px;
		height: 60px;
		
	};
	
	
	#recado{
		
		width: 500px;
		height: 500px;
		font-size: 150px;
		
		
	}
	#recadobutao{
		width: 100px;
		height: 50px;
			
		
	}	
	
}